[submodule "docker/isaac"]
	path = docker/isaac
	url = https://github.com/ycpss91255-docker/isaac.git
[submodule "docker/omniverse_web_viewer"]
	path = docker/omniverse_web_viewer
	url = https://github.com/ycpss91255-docker/omniverse_web_viewer.git
